---
---
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}

.UBCheader {
 background-color: blue;

}

#home-banner {
    background-image: url('../images/ubc7-clf-sprite-white-2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
}
#home-title-box {
    /* padding-top: {{ site.data.theme.home-title-y-padding | default: '1em' }};
    padding-bottom: {{ site.data.theme.home-title-y-padding | default: '1em' }};
    */

}
@media screen and (max-width: 576px) {
    #home-banner { max-height:500px; }
    #home-title-box {
        padding-top: 5em;
        padding-bottom: 5em;
    }
    .display-4 { font-size:1.75em; }
    #home-tagline { font-size:.85em; }
}
#ubc-banner {
 background-color: #002145;
 padding-top:1em;
 padding-bottom:1em;
}
